   #xxx{
                margin:-8px;
                padding: 30px;
                background:#00CFFF;
                text-align:center;
                position:fixed;
                width:100%;
            }
            body{
                margin:0px;
            }
            a{
                text-decoration: none;
            }
          
            #sss{
                margin:33px;
              
            }
            #dzz{
                margin:33px;
            }
            #dou{
                margin:33px;
            }
            #q{
                margin:33px;
               
            }
            #w{
                margin:33px;

            }
            #e{
                margin:33px;
     
            }
            #ss{
                margin-left:30px;
                padding-top:81px;
            }
            #zz{
                margin-left:30px;
                padding-top:81px;
            }
            #c{
                 margin-left:30px; 
                 padding-top:81px;
            }
            #x{
                 margin-left:30px; 
                 padding-top:81px;
            }
            #z{
                 margin-left:30px; 
                 padding-top:81px;
            }
            #u{
                 margin-left:30px; 
                 padding-top:81px;
            }
        
